
/*HEADER*/
header {
    background-color: #4682B4;
    padding-bottom: 5px;
    height: 95px;
}

#uiview {
    margin-top: 100px;
}
.navbar-brand {
    margin: -10px 12px -10px 12px;
}
.navbar-brand img {
    margin: -5px 10px 0px -28px; 
    height: 100px;
}
.navbar-brand h2 {
    font-family: 'Lora', serif;
    color: #696969;
    display: inline-block;
    font-size: 1em;
}
.navbar-brand span {
    font-family: 'Lora', serif;
    color: #696969;
    font-size: 0.7em;
}
.navbar-header #navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -20px;
}
#navbar-list {
    padding-top: 10px;
}
#navbar-list ul {
    list-style-type: none;
    overflow: hidden;
    padding-top: 15px;
}
#navbarL a:hover, #navbarL a:focus  {
    color: #696969;
    background-color: #4682B4;
}
#navbar-list a {
    font-family: 'Lora', serif;
    color: #fff;
    text-decoration: none;
    float: right;
    margin: 0px 10px 12px 0px;
    padding: 4px;  
    font-size: 0.9em;
}
/*FOOTER*/
footer {
    margin-top: 150px;
    background-color: #4682B4;
    padding: 10px 10px 30px 10px;
}
#bottomBar h2 {
    float: left;
    margin-left: 10px;
    font-size: 1.3em;
    padding-bottom: 10px;
}
#bottomBar a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lora', serif;
    color: #fff;
}
#bottomBar span {
    font-family: 'Lora', serif;
    color: #fff;
    margin-left: -140px;
}
#contactInf p {
    color: white;
    margin: -15px 20px -50px 20px;
    display: block;
}
/* Small devices */
@media (min-width: 767px) and (max-width: 1205px) {
    .navbar-brand img {
        width: 90%;
    }
    #navbarL a {
        margin-top: 55px;
    }
    header {
        height: 130px;
    } 
}
/* Extra Small devices */
@media (max-width: 767px) {
    .navbar-brand img {
        width: 95%;
    }
    header {
        height: 95px;
    }
    #navbar-list a {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
}
/* Super Extra Small devices */
@media (max-width: 620px) {
    #bottomBar p {
        margin-top: 50px;
    }
    
}
