<div id="ficHome">
    <img src="public/images/microFICco.png">
    <img src="public/images/alimentarioFICco.png">
    <img src="public/images/productivoFICco.png">
</div>
<div id="homeM" class="container">
    <p>Trabajar para ser la mejor administradora de fondos de inversión del país, ofreciendo a nuestros clientes:
            inversionistas institucionales y participantes,  productos financieros innovadores, de valor agregado y de impacto social, buscando obtener una rentabilidad atractiva, con un riesgo controlado, promoviendo el desarrollo de pequeñas, medianas y grandes empresa generando relaciones de largo plazo.</p>
</div>
<div  id="whyUs" class="container">
    <h3>PÓRQUE CAPITAL SAFI?</h3>
</div>
<div id="benefitsHome" class="container">
    <h4>Beneficios para los inversionistas:</h4>
    <li>Nuestros productos le permiten acceder a diferentes e innovadoras oportunidades de inversión.</li>
    <li>Contamos con un equipo de profesionales con gran experiencia en el ámbito financiero, altamente capacitado y comprometido con los inversionistas.</li>
    <li>Buscamos optimizar la relación riesgo-retorno para los inversionistas.</li>
    <li>Invertimos en sectores que tienen un alto impacto social y económico en la población boliviana, apoyamos al desarrollo del país.</li>
</div>
<div id="benefitsHome" class="container">
    <h4>Beneficios para los emisores objeto de inversión:</h4>
    <li>Las empresas pueden financiar todo tipo de necesidades financieras, desde capital de operaciones hasta capital de inversión, de una forma ágil e innovadora.</li>
    <li>A través de esta novedosa forma de financiamiento, las empresas cuentan con nuevas alternativas de financiamiento, que les permiten optimizar su estructura financiera.</li>
    <li>Esta forma de financiamiento permite a las empresas introducirse al financiamiento a través del mercado de valores.</li>
</div>
<div id="clientsHome" class="container">
    <h3>Nuestros clientes</h3>
</div>
<div id="clientsImg" class="container">
    <i id="img-controls" class="arrow left" ng-click="homeC.previous()"></i>
    <img ng-src="{{homeC.img}}" alt="picture">
    <i id="img-controls" class="arrow right" ng-click="homeC.next()"></i>
</div>
<div id="solutionsHome" class="container">
    <h3>Soluciones de calidad para nuestros clientes</h3>
</div>
<div id="solutions" class="container">
    <p>Responsabilidad social:<span> somos parte de una sociedad y nuestros productos deben contribuir al desarrollo de la misma.</span></p>
    <p>Innovación y creatividad:<span> desarrollamos productos con un alto valor agregado y actuamos con la mente abierta.</span></p>
    <p>Transparencia:<span> nuestras acciones se enmarcan dentro de los más altos estándares éticos y profesionales.</span></p>
    <p>Trabajo en equipo:<span> el éxito de la empresa depende del trabajo coordinado de cada uno de nuestros integrantes.</span></p>
</div>
